## Table of Contents

1. **[Pandas](#pandas)**
2. **[Data Structures](#structures)**
3. **[Pandas Series](#series)**
    - 3.1 - [Creating a Series](#creatingS)
    - 3.2 - [Manipulating Series](#manipulatingS)
4. **[Pandas DataFrames](#dataframes)**
    - 4.1 - [Creating DataFrames](#creatingDF)
    - 4.2 - [Manipulating DataFrames](#manipulatingDF)
5. **[Reading Data from Different Sources](#reading_data)**

<a id="pandas"> </a>
## 1. Pandas
#### Introduction to Pandas

<table align="left">
    <tr>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> Pandas contain data structures and data manipulation tools designed for data cleaning and analysis.
<br><br>
                        While pandas adopt many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular or heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.<br><br>
                         The name Pandas is derived from the term “panel data”, an econometrics term for multidimensional structured data sets.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# Import the pandas library as pd
import pandas as pd

<a id="structures"> </a>
## 2. Data Structures
#### Introduction to Data Structures

Pandas has two data structures as follows:<br>
1. A Series is 1-dimensional labeled array that can hold data of any type (integer, string, boolean, float, python objects, and so on). It’s axis labels are collectively called an index.<br>
2. A DataFrame is 2-dimensional labeled data structure with columns. It supports multiple datatypes.

<a id="series"> </a>
## 3. Pandas Series
#### Introduction to Pandas Series and Creating Series

Pandas Series is a one-dimensional labeled array capable of holding any data type. However, a series is a sequence of homogeneous data types, similar to an array, list, or column in a table.

It will assign a labeled index to each item in the Series. By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [4]:
# Create a numeric series
numbers = range(1,100,5)
pd.Series(numbers)

0      1
1      6
2     11
3     16
4     21
5     26
6     31
7     36
8     41
9     46
10    51
11    56
12    61
13    66
14    71
15    76
16    81
17    86
18    91
19    96
dtype: int64

The output also gives the data type of the series as `int64` . And note that by default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [14]:
# Create an object series
string = "Hi" , "How" ,"are", "you", "?"
print(pd.Series(string))

# Create a Series with an arbitrary list using both numeric and string values 
s = pd.Series([345, 'London', 34.5, -34.45, 'Happy Birthday'])
print("\n", s)

0     Hi
1    How
2    are
3    you
4      ?
dtype: object

 0               345
1            London
2              34.5
3            -34.45
4    Happy Birthday
dtype: object

**To set index values for a series**

Have an index added using the argument `index=`. The data type of the series continues to be numeric.

In [16]:
marks = [60, 89, 74, 86]
subject = ["Maths", "Science", "English" , "Social Science"]

pd.Series(marks, index = subject)

Maths             60
Science           89
English           74
Social Science    86
dtype: int64

**To create a series from a dictionary**

On passing a dict, the index in the resulting Series will have the dict’s keys in sorted order.

In [17]:
data = {'Maths': 60, 'Science': 89, 'English': 76, 'Social Science': 86}

pd.Series(data)

Maths             60
Science           89
English           76
Social Science    86
dtype: int64

**A series with missing values**

If we pass a key that is not defined then its value will be `NAN`.

In [18]:
subjects = ["Maths", "Science", "Art and Craft" , "Social Science"]
marks_series = pd.Series(data, index = subjects)

print(marks_series)

Maths             60.0
Science           89.0
Art and Craft      NaN
Social Science    86.0
dtype: float64